.row {
    display: flex;
    background-color: #EEE;
    width: 40%;
    margin: 0 auto;
    justify-content: space-between;
}

.row:hover {
    background-color: #e6e6e6;
}

.info {
    display: flex;
}

.courseId {
    min-width: 8em;
    max-width: 8em;
    font-weight: bolder;
    background-color: #4e6074;
}

.red {
    text-decoration: line-through;
}

.container {
    margin-top: 4em;
}

.spinner {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}

h3 {
    text-align: center;
    margin-top: 3em;
    font-weight: bold;
}