.example-spacer {
  flex: 1 1 auto;
}

.btn {
  position: relative;
  top: 2em;
  left: 2em;
}

nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}

nav a:hover {
  color: #000080;
}

nav a.active {
  color: #000080;
}

nav {
  width: 30em;
  display: flex;
  justify-content: end;
  gap: 2em;

}