<mat-toolbar color="primary">
  <span>Course Management System</span>
  <span class="example-spacer"></span>
  <nav class="links">
    <a routerLink="/available-courses" routerLinkActive="active">Available Courses</a>
    <a routerLink="/courses" routerLinkActive="active">View All Courses</a>
  </nav>
</mat-toolbar>

<div>
  <button mat-flat-button color="accent" (click)="openForm()" class="btn">Add Course</button>
</div>

<router-outlet></router-outlet>

<div class="container">
  <div *ngIf="isLoading" class="spinner">
    <mat-spinner diameter="40"></mat-spinner>
  </div>