# MongoDB Connection String
CONNECTION_STRING=your-connection-string

# Cloudinary Configuration
# Get these from: https://cloudinary.com/console/settings/api-keys
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

LOCAL_URL=http://localhost:4200
LIVE_URL=Your-live-url