<h2><u>Available Courses</u></h2>

<div class="container">
  <div *ngIf="isLoading" class="spinner">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

<div class="courses-menu">
  <div *ngFor="let course of availableCourses">
    <mat-card class="card" (click)="onSelect(course._id)">
      <img style="margin-bottom: 0.5em" height="250px" mat-card-image src={{course.imageUrl}} alt={{course.course}}>
      <mat-card-content>
        <mat-card-title>{{course.course }}</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="availableCourses?.length === 0">
  <h3>No courses available</h3>
</div>